doctype html
html
  head
    meta(name="viewport",content="width=device-width, initial-scale=1")
    meta(charset="UTF-8")
    link(rel="stylesheet",href="node_modules/bootstrap/dist/css/bootstrap.min.css")  
    title list images
    script(type="application/javascript", src="app.js")
    link(rel="stylesheet",href="style.css")  
  body  
    h1 hello
    div.
      We are using Node.js <script>document.write(process.version)</script>
    #show
    .container
      .row 
        #holder.col-xs-4.col-md-4.alert-success.row
          //- 标题，上一层目录，当前目录列表
          #leftTitle
          button#leftBack
          #leftList  
        #rightShow.col-xs-4.col-md-8
      
